<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Contact</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Demo project">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="styles/bootstrap4/bootstrap.min.css">
    <link href="plugins/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="plugins/colorbox/colorbox.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="styles/contact.css">
    <link rel="stylesheet" type="text/css" href="styles/contact_responsive.css">
</head>
<body>
<!-- Contact Form -->
<div class="col-lg-6 contact_form_col">
    <div class="contact_form">
        <div class="contact_title">Edit Visitor Details</div>

        <!-- Contact Form -->
        <div class="contact_form_container">
            <form action="#" th:action="@{/insert}" th:object="${update}" method="post">
                <div class="row">
                    <div class="col-lg-6">
                        <input type="text" class="form_input" name="id" required="required" th:field="*{id}" readonly="readonly">
                    <div class="col-lg-6">
                        <input type="text" class="form_input" name="name" required="required" th:field="*{name}">
                    </div>
                    <div class="col-lg-6">
                        <input type="email" class="form_input email_input" placeholder="email" required="required" th:field="*{email}">
                    </div>
                    <div class="col-12">
                        <textarea class="form_text" placeholder="Your Message" required="comment" th:field="*{comment}"></textarea>
                        <button type="submit" class="form_submit_button">send comment</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<script src="js/jquery-3.2.1.min.js"></script>
<script src="styles/bootstrap4/popper.js"></script>
<script src="styles/bootstrap4/bootstrap.min.js"></script>
<script src="plugins/easing/easing.js"></script>
<script src="plugins/parallax-js-master/parallax.min.js"></script>
<script src="plugins/colorbox/jquery.colorbox-min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=AIzaSyCIwF204lFZg1y4kPSIhKaHEXMLYxxuMhA"></script>
<script src="js/contact.js"></script>
</body>
</html>